# **Task 1. Destination Recommender.**

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Destinations.csv")

df

      id destination  rating
0      0      Poland    7.88
1      1      France    7.05
2      2       Spain    7.54
3      3      France    8.65
4      4     Austria    7.59
..   ...         ...     ...
395  395      Mexico    7.36
396  396   Guatemala    8.04
397  397       Haiti    7.23
398  398    Paraguay    7.89
399  399       Chile    8.67

[400 rows x 3 columns]

In [21]:
D = {}
for i in range(400):
    country = df['destination'][i]
    if country in D:
        D[country].append(df['rating'][i])
    else:
        D[country] = [df['rating'][i]]
 
for country in D:
    D[country]= np.mean(D[country])

L = list(D.items())
L.sort(key=lambda x: x[1] , reverse=True)
print(L)

[('Poland', 8.917857142857143), ('Finland', 8.773333333333332), ('Cyprus', 8.767692307692307), ('Luxembourg', 8.575999999999999), ('Spain', 8.5325), ('Belgium', 8.503636363636364), ('Portugal', 8.404444444444444), ('Andorra', 8.395714285714286), ('Albania', 8.393333333333334), ('France', 8.366), ('Switzerland', 8.31909090909091), ('Iceland', 8.315), ('Italy', 8.264999999999999), ('Greece', 8.224), ('Germany', 8.203636363636363), ('French Guiana', 8.2), ('Haiti', 8.165333333333333), ('Argentina', 8.156666666666666), ('Denmark', 8.153333333333334), ('Dominican Republic', 8.125555555555556), ('Peru', 8.091333333333331), ('Austria', 8.081904761904763), ('Mexico', 8.059333333333333), ('Paraguay', 8.047999999999998), ('Ecuador', 8.035), ('Ireland', 8.01875), ('Sweden', 8.01125), ('Cuba', 8.001428571428573), ('Costa Rica', 8.000588235294119), ('Guatemala', 7.9766666666666675), ('Bolivia', 7.967142857142856), ('Chile', 7.899285714285713), ('Brazil', 7.825384615384617), ('Panama', 7.703333333333333), ('Colombia', 7.685555555555556)]

We now have the destinations in descending order, and can recommend to the users up to bottom.

# **Task 2.  Item Recommendations.**

In [2]:
ds = pd.read_csv("items.csv")
ds

      id                                        description
0      1  Active classic boxers - There's a reason why o...
1      2  Active sport boxer briefs - Skinning up Glory ...
2      3  Active sport briefs - These superbreathable no...
3      4  Alpine guide pants - Skin in, climb ice, switc...
4      5  Alpine wind jkt - On high ridges, steep ice an...
..   ...                                                ...
495  496  Cap 2 bottoms - Cut loose from the maddening c...
496  497  Cap 2 crew - This crew takes the edge off fick...
497  498  All-time shell - No need to use that morning T...
498  499  All-wear cargo shorts - All-Wear Cargo Shorts ...
499  500  All-wear shorts - Time to simplify? Our All-We...

[500 rows x 2 columns]

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel


tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0.0, stop_words='english')

tfidf_matrix = tf.fit_transform(ds['description'])
 
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix) 
results = {}
for idx, row in ds.iterrows():
    similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
    similar_items = [(cosine_similarities[idx][i], ds['id'][i]) for i in similar_indices] 
    results[row['id']] = similar_items[1:]

In [4]:
def RecFunct(i, n):
    if (n>98):
        return "n must be less than 98!"

    tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0.0, stop_words='english')

    tfidf_matrix = tf.fit_transform(ds['description'])
    
    cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix) 
    results = {}
    for idx, row in ds.iterrows():
        similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
        similar_items = [(cosine_similarities[idx][i], ds['id'][i]) for i in similar_indices] 
        results[row['id']] = similar_items[1:]
 
    s =  "For "+ds["description"][i-1].split(" - ")[0] + ", we recommend "
    rec = results[i] ; rec.sort(key = lambda x: x[0] , reverse = True)
    rec = [r[1] for r in rec]
    rec = rec[:n]   
    for r in rec:
        s += ds["description"][r - 1].split(" - ")[0] + ", "
    print(s)

RecFunct(70 , 5)

For Light and variable surf trunks, we recommend Paddler board shorts, Minimalist board shorts-19 in., Wavefarer board shorts-21 in., Twenty-three's board shorts, Marlwalker pants,